__pycache__/
*.pyc
.venv/
build/
dist/
*.spec
host-win/bin/
host-win/obj/
data/hosts.json
*.db
.env
production/.env
production/.env.aapanel
web/downloads/*.exe
web/downloads/*.tar.gz
.idea/
.vscode/
.DS_Store
Thumbs.db
